body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  width: 100%;
  padding-top: 32px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  max-width: 1200px;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  max-width: 120px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  max-width: 1200px;
  width: 100%;
  padding: 32px;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 8px;
  width: 537px;
  padding: 16px 0;
  flex-shrink: 0;
  align-self: stretch;
}

section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  padding-bottom: 16px;
  align-self: stretch;
}

.form-image {
  display: flex;
  align-items: flex-start;
  gap: 62px;
  align-self: stretch;
  padding-bottom: 0;
}

.form-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  flex: 1 0 0;
}

.image-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  flex: 1 0 0;
  align-self: stretch;
}

.option-line {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  gap: 16px;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 8px;
}

.write {

  padding: 8px 16px;
  width: 100%;
  min-height: 48px;
  margin-top: 8px;
}

.actions {
  display: flex;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  padding: 16px 0;
}

.actions.image {
  justify-content: flex-end;
}
