/* Establece una regla global para el fondo del documento HTML */
html {
  background: #26c6da;
}

/* Define la fuente global para todo el cuerpo del documento */
body {
  font-family: "Roboto", sans-serif;
}

/* Estilos para los enlaces en la barra de navegación */
nav a {
  color: #fff;
}

nav a:hover {
  opacity: 0.8;
}

/* Establece estilos para el área principal de la página */
main {
  border-radius: 20px;
  background: #fff;
}

/* Establece estilos para las secciones con borde inferior */
.border-bottom {
  border-bottom: 1px solid #d9d9d9;
}

/* Estilos para los encabezados */
h1,
h2,
p {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 24px;
  color: #1d1b20;
  font-weight: 400;
  line-height: 32px;
  margin: 0 0 4px 0;
}

h2 {
  font-size: 18px;
  color: #54585d;
  font-weight: 400;
  line-height: 28px;
  margin: 0 0 4px 0;
}

p {
  font-size: 14px;
  color: #49454f;
  font-weight: 400;
  line-height: 20px;
  margin: 0 0 4px 0;
}

/* Estilos para el logotipo */
.logo {
  font-size: 42px;
  color: #fff;
}

/* Estilos para los elementos input tipo radio */
.chip-input {
  display: none; /* Oculta los inputs reales */
}

.chip-label {
  display: inline-flex;
  padding: 4px 8px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 20px;
  border: 1px solid #d8d8d8;
  background: #fff;
  cursor: pointer;
}

/* Estilos para los inputs tipo radio seleccionados */
.chip-input:checked + .chip-label {
  border: 1px solid #00abc8;
  background: #eff9fb;
  color: #00abc8;
}

/* Estilos para los botones */
.button {
  display: flex;
  padding: 16px 32px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: none;
  border-radius: 100px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  cursor: pointer;
}

.button:hover {
  opacity: 0.8;
  transform: scale(1.05);
}

.btn-1 {
  background: #00abc8;
  color: #fff;
}

.btn-2 {
  background: #fff;
  color: #54585d;
}

.btn-3 {
  background: #fff;
  color: #00abc8;
  border: 1px solid #00abc8;
}

.btn-4 {
  background: #54585d;
  color: #fff;
}

.write {
  border-radius: 4px;
  border: 2px solid #d8d8d8;
}

.activity-preview {
  border: 1px solid black;
  padding: 16px;
}

.activity-preview img{
  margin-top: 16px;
}

.pro-name{
  font-size: 11px;
  margin-bottom: 16px;
}