/* .header {
    padding: 10px;
    text-align: center;
    background: #ffffff00;
    /* background: linear-gradient(to bottom, #777777 0%, #b9b9b9 100%);
    color: rgb(0, 0, 0);;
    font-size: 20px;

    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
} */

.content {
    max-width: 925px;
    margin: auto;
}

.child {
    max-width: 90%;
    margin: 0 auto;
    display: block;
}

/* key stuff */

.your-centered-div {
    width: 560px; 
    height: 315px;

    position: block; 
    top: 0; right: 0; 
    bottom: 0; left: 0;
    margin: auto;
}

hr {
    margin-left: 0;
    margin-right: 0;
  }

canvas {
    display: block;
}


table, td, th {
    border: 1px solid;
}

table {
    width: 100%;
    border-collapse: collapse;
}
    
/* Pagination */

.pagination {

    /* grid-column: 1 / span 2; */
    display: inline;
    margin: auto;

    border-radius: 5px;
    background-color:#1abc9cbb;
    padding: 5px 10px;
}
  
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
}

/* Footer */

.footer{
    padding: 10px;
    text-align: center;
    background: rgb(0, 0, 0, 0.1);
    font-size: 12px;
    border-radius: 5px;
}

.grid-container-footer {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
}

.grid-container-footer > div {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 0px 10px;
    font-size: 14px;
    text-align:left;
    }

/* .item4 {
grid-row-start: 1;
grid-row-end: 3;
} */


/*animation in the footer*/

.rotate {
    animation: rotation 8s infinite linear;
}
    
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}