.header {
    padding: 10px;
    text-align: center;
    background: #ffffff00;
    /* background: linear-gradient(to bottom, #777777 0%, #b9b9b9 100%); */
    color: rgb(255, 255, 255);;
    font-size: 20px;

    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
}