.child_playlist {
    margin: 0 auto;;
    display: flex;
    justify-content: center;
    align-items: center;
  }

ul.images {
    margin: 0;
    padding: 0;
    white-space: nowrap;
    /* width: 900px; */
    overflow-x: auto;
}

ul.images li {
    display: inline-block;
    width: 200px;
    height: 113px;

    margin-right: auto;
    margin-left: auto;

    border: 2px solid rgb(255, 43, 255);
    border-radius: 10px;
}

/* mix them both:  */
/* reedo */

div.scroll-container {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;

    margin: 0 auto;;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  div.scroll-container img {
    padding: 10px;
  }

  div.scroll-container img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }