
.tag-container
{
  display: flex;
  flex-direction: column;

  padding: 10px;

  border-radius: 10px;
  background-color:rgba(0, 0, 0, 0.05);
}

.form-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  flex: 1 0 0;
}

section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    padding-bottom: 16px;
    align-self: stretch;
  }
  
.chip-label {
display: inline-flex;
padding: 4px 8px;
align-items: flex-start;
gap: 10px;
border-radius: 20px;
border: 1px solid #d8d8d8;
background: #fff;
cursor: pointer;
}