
.tag-container
{
  display: flex;
  flex-direction: column;

  margin: 10px;

  border-radius: 10px;
  background-color:rgba(0, 0, 0, 0.1);
}

.form-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  flex: 1 0 0;
}

/* Estilos para los elementos input tipo radio */
.chip-input {
    display: none; /* Oculta los inputs reales */
}

section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    padding-bottom: 16px;
    align-self: stretch;
  }
  
.chip-label {
display: inline-flex;
padding: 4px 8px;
align-items: flex-start;
gap: 10px;
border-radius: 20px;
border: 1px solid #d8d8d8;
background: #fff;
cursor: pointer;
}
  
/* Estilos para los inputs tipo radio seleccionados */
.chip-input:checked + .chip-label {
border: 1px solid #00abc8;
background: #eff9fb;
color: #00abc8;
}